@font-face{
	font-family: 'above';
	src: url('../fonts/above.ttf');
}
@font-face{
	font-family: 'aliens';
	src: url('../fonts/aliens.ttf');
}
@font-face{
	font-family: 'goldoni';
	src: url('../fonts/goldoni.otf');
}
@font-face{
	font-family: 'headliner';
	src: url('../fonts/headliner.ttf');
}

@font-face{
	font-family: 'slabo';
	src: url('../fonts/slabo.ttf');
}
html, body{
	margin: 0;
	padding: 0;
}

/*HEADER*/
.headercontainer{
	display: flex;
	font-family: 'goldoni', Cursive;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	width: 95%;
}

.headerlinks{
	align-items: center;
	display: flex;
}

.headerlinks ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.headerlinks li{
	font-size: 18px;
}

.headerlinks a{
	color: #000;
	text-decoration: none;
}

#headerfirst{
	border-bottom: 1px solid black;
	margin-right: 25px;
	padding-bottom: 2px;
}

#headerlist{
	opacity: 0.6;
	padding-right: 25px;
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
}

#headerig{
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
}

#headerlist:hover{
	color: red;
	opacity: 1;
}

#headerig:hover{
	color: red;
	opacity: 1;
}

.headerlogo h1{
	font-size: 2rem;
}

	/*MOBILE DROPDOWN*/
	.headermobile{
		display: none;
		text-align: center;
	}

/*PHOTOS*/
.photos{
	display: flex;
	margin: 0;
	padding: 0;
}
.ipadcolumn1, .ipadcolumn2{
	display: flex;
}

/*PHOTO COLUMN*/
.photocontainer img{
	display: block;
	width: 100%;
}

/*SCROLL TO TOP ARROW*/
	#topBtn{
		position: fixed;
		bottom: 40px;
		right: 40px;
		font-size: 22px;
		width: 50px;
		height: 50px;
		background-color: #fff;
		box-shadow: 5px 5px 5px;
		color: #000;
		border: none;
		cursor: pointer;
		outline: none;
		opacity: 0.6;
		z-index: 100;
		-webkit-transition-property: all;
		-webkit-transition-duration: .5s;
		-webkit-transition-timing-function: ease-in-out;
		-moz-transition-property: all;
		-moz-transition-duration: .5s;
		-moz-transition-timing-function: ease-in-out;
	}

	#topBtn:hover{
		color: red;
	}

/*****ABOUT*****/
/*****ABOUT*****/
/*****ABOUT*****/
.about{
	display: flex;
	font-family: 'slabo';
	font-size: 1.2rem;
	margin: 80px auto 0 auto;
	width: 65%;
}

.aboutinfo, .aboutphoto{
	width: 50%;
}

.aboutinfocontainer{
	width: 80%;
}

.aboutinfocontainer h1{
	margin: 0;
}

.aboutinfocontainer{
	line-height: 1.5;
}
.aboutphotocontainer{
	text-align: right;
}
.aboutphotocontainer img{
	max-width: 500px;
	width: 100%;
}

/*****CONTACT*****/
/*****CONTACT*****/
/*****CONTACT*****/
.contact{
	display: flex;
	font-family: 'slabo';
	font-size: 1.2rem;
	margin: 150px auto;
	width: 85%;
}

.contactinfo{
	width: 50%;
}

.contactform{
	width: 50%;
}

.contactinfocontainer{
	width: 70%;
}

.contactinfocontainer h1{
	margin: 0;
}

.contactinfocontainer p{
	line-height: 1.5;
}
.contactformcontainer{
	margin: 0 auto;
	text-align: left;
}

.contactnames{
	display: flex;
	justify-content: space-between;
}

.contactnamesbox{
	display: flex;
	flex-direction: column;
	width: 48%;
}
.contactformcontainer form input, .contactformcontainer textarea{
	background-color: rgba(128, 128, 128, 0.1);
	font-family: 'slabo';
	font-size: 1.2rem;
	margin-top: 5px;
	padding: 10px 0 10px 10px;
	width: 100%;
}
#inputbox{
	margin-bottom: 20px;
}

#contactsubmit{
	background-color: #fff;
	border: 2px solid rgba(128, 128, 128, 0.7);;
	margin-right: 10px;
	padding: 10px 0;
	transition: .5s ease-in-out;
	width: 150px;
}

#contactsubmit:hover{
	background-color: red;
	border: 2px solid red;
	color: #fff;
	cursor: pointer;
}

/***FOOTER***/
/***FOOTER***/
/***FOOTER***/
/*.bottomgradient{
	background-color: linear-gradient(to bottom, blue, red);
	bottom: 0;
	height: 500px;
}*/

/*.footer{
	background: rgba(220, 220, 220, 0.6);
	border-top: 5px solid black;
	height: auto;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	
}

.footercontainer{
	margin: 0 auto;
	width: 95%;
}

.footerlinks{
	width: 60%;
}
.footerlinks ul{
	align-items: center;
	display: flex;
	justify-content: space-between;
	overflow-y: hidden;
	padding: 10px 0;

}

.footer li{
	list-style: none;
}

.footer a{
	color: #000;
	font-family: 'goldoni';
	text-decoration: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
}

.footer a:hover{
	color: red;
}
*/

/*****MEDIA QUERIES*****/
/*****MEDIA QUERIES*****/
/*****MEDIA QUERIES*****/

/*IPHONE PORTRAIT*/
@media only screen and (min-device-width : 375px) and (max-device-width : 736px) {
	.photos{
		display: flex;
		flex-direction: column;
	}

	.ipadcolumn1, .ipadcolumn2{
		display: block;
		margin: 0;
		padding: 0;
	}
	/*DROPDOWN MENU*/
		.header{
			display: none;
		}

		.headercontainermobile{
			width: 100%;
		}

		.headerlinksmobile{
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.headerlinksmobile ul, li{
			list-style: none;
		}
		
		.buttonmobile{
			font-size: 28px;
			padding-bottom: 10px;
		}

		.buttonmobile ul{
			padding: 0;
		}

		.headerlinksmobile a, button{
			color: black;
			font-family: 'goldoni', Cursive;
			font-size: 50px;
			padding-bottom: 40px;
			text-decoration: none;
		}

		.togglebutton{
			font-family: 'goldoni', serif;
			font-size: 50px;
			margin-top: 30px;
		}

		.mobiledropdown{
			display: flex;
			justify-content: center;
		}

		.mobiledropdowncontainer{
			display: flex;
			flex-direction: column;
		}

		.headerlogo h1{
			font-family: 'goldoni', serif;
			font-size: 70px;
		}

		/*****ABOUT*****/
		/*****ABOUT*****/
		/*****ABOUT*****/
		.about{
			display: flex;
			flex-direction: column-reverse;
			font-family: 'slabo';
			font-size: 3rem;
			margin: 80px auto 0 auto;
			width: 75%;
		}

		.aboutinfo, .aboutphoto{
			width: 100%;
		}

		.aboutinfo{
			margin: 50px 0 80px 0;
		}

		.aboutinfocontainer{

			width: 100%;
		}

		.aboutinfocontainer h1{
			margin: 0;
		}

		.aboutinfocontainer{
			line-height: 1.5;
		}
		.aboutphotocontainer{
			text-align: right;
		}
		.aboutphotocontainer img{
			max-width: 800px;
			width: 100%;
		}

		.mobilebreak{
			display: none;
		}

		/*****CONTACT*****/
		/*****CONTACT*****/
		/*****CONTACT*****/
		.contact{
			display: flex;
			flex-direction: column;
			font-family: 'slabo';
			font-size: 3rem;
			margin: 80px auto 0 auto;
			width: 75%;
		}

		.contactinfo, .contactform{
			width: 100%;
		}

		.contactinfo{
			margin: 50px 0 80px 0;
		}

		.contactform{
			margin-bottom: 150px;
		}

		.contactinfocontainer{
			width: 100%;
		}

		.contactinfocontainer h1{
			margin: 0;
		}

		.contactinfocontainer{
			line-height: 1.5;
		}

		.contactnames{
			display: flex;
			flex-direction: column;
		}

		.contactnamesbox{
			width : 100%;
		}

		#inputbox{
			margin-bottom: 50px;
		}

		.contactformcontainer form input, .contactformcontainer textarea{
			background-color: rgba(128, 128, 128, 0.1);
			font-family: 'slabo';
			font-size: 3rem;
			margin-top: 5px;
			padding: 10px 0 10px 20px;
			width: 100%;
		}

		#contactsubmit{
			background-color: #fff;
			border: 2px solid rgba(128, 128, 128, 0.7);
			margin-right: 10px;
			padding: 10px 0;
			width: 250px;
		}

		#contactsubmit:hover{
			background-color: #fff;
			border: 2px solid rgba(128, 128, 128, 0.7);
			color: #000;
			cursor: pointer;
		}
	/*TO TOP BUTTON*/
	#topBtn{
		height: 100px;
		width: 100px;
	}

	#topBtn i{
		font-size: 50px;
		padding-top: 25px;
	}

	/*FOOTER*/

	.footer{
		border-top: 5px solid black;
	}
	.footercontainer{
		margin: 0 auto;
		width: 90%;
	}

	.footerlinks{
		width: 100%;
	}
	.footerlinks ul{
		align-items: flex-start;
		flex-direction: column;
		margin: 0;
	}

	.footerlinks li{
		margin: 20px 0;
		padding-top: 10px;
	}
	.footer a{
		font-size: 3.5rem;
	}
}

/*IPHONE LANDSCAPE*/
@media only screen and (min-device-width : 375px) and (max-device-width : 736px){
	.header, #headerlist{
			display: none;
		}

	.headermobile{
		display: flex;
	}

	.photos{
		display: flex;
		flex-direction: column;
	}

	.ipadcolumn1, .ipadcolumn2{
		display: block;
	}

	/*.footercontainer{
		margin: 0;
		padding-left: 20px;
		width: 90%;
	}

	.footer ul{
		align-items: center;
		display: flex;
		flex-direction: row;
	}
	.footer a{
		font-size: 1.5rem;
	}*/
}
/*IPAD PORTRAIT*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
/*DROPDOWN MENU*/
		.header{
			display: none;
		}

		.headermobile{
			display: flex;
		}

		.headercontainermobile{
			width: 100%;
		}

		.headerlinksmobile{
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.headerlinksmobile ul, li{
			list-style: none;
		}
		
		.buttonmobile{
			font-size: 28px;
			padding-bottom: 10px;
		}

		.buttonmobile ul{
			padding: 0;
		}

		.headerlinksmobile a, button{
			color: black;
			font-family: 'goldoni', Cursive;
			font-size: 50px;
			padding-bottom: 40px;
			text-decoration: none;
		}

		.togglebutton{
			font-family: 'goldoni', serif;
			font-size: 50px;
			margin-top: 30px;
		}

		.mobiledropdown{
			display: flex;
			justify-content: center;
		}

		.mobiledropdowncontainer{
			display: flex;
			flex-direction: column;
		}

		.headerlogo h1{
			font-family: 'goldoni', serif;
			font-size: 70px;
		}
		/*PHOTOS*/
	.photos{
		display: block;
		flex-direction: row;
	}

	.ipadcolumn1, .ipadcolumn2{

		margin: 0;
		padding: 0;


	}




/*IPAD LANDSCAPE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	/*PHOTOS*/
.photos{
	display: flex;
	margin: 0;
	padding: 0;
}
.ipadcolumn1, .ipadcolumn2{
	display: flex;
}

/*PHOTO COLUMN*/
.photocontainer img{
	display: block;
	width: 100%;
}
	/*DROPDOWN MENU*/
		.header{
			display: none;
		}

		.headercontainermobile{
			width: 100%;
		}

		.headerlinksmobile{
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.headerlinksmobile ul, li{
			list-style: none;
		}
		
		.buttonmobile{
			font-size: 28px;
			padding-bottom: 10px;
		}

		.buttonmobile ul{
			padding: 0;
		}

		.headerlinksmobile a, button{
			color: black;
			font-family: 'goldoni', Cursive;
			font-size: 50px;
			padding-bottom: 40px;
			text-decoration: none;
		}

		.togglebutton{
			font-family: 'goldoni', serif;
			font-size: 50px;
			margin-top: 30px;
		}

		.mobiledropdown{
			display: flex;
			justify-content: center;
		}

		.mobiledropdowncontainer{
			display: flex;
			flex-direction: column;
		}

		.headerlogo h1{
			font-family: 'goldoni', serif;
			font-size: 70px;
		}

		/*****ABOUT*****/
		/*****ABOUT*****/
		/*****ABOUT*****/
		.about{
			display: flex;
			flex-direction: column-reverse;
			font-family: 'slabo';
			font-size: 3rem;
			margin: 80px auto 0 auto;
			width: 75%;
		}

		.aboutinfo, .aboutphoto{
			width: 100%;
		}

		.aboutinfo{
			margin: 50px 0 80px 0;
		}

		.aboutinfocontainer{

			width: 100%;
		}

		.aboutinfocontainer h1{
			margin: 0;
		}

		.aboutinfocontainer{
			line-height: 1.5;
		}
		.aboutphotocontainer{
			text-align: right;
		}
		.aboutphotocontainer img{
			max-width: 800px;
			width: 100%;
		}

		.mobilebreak{
			display: none;
		}

		/*****CONTACT*****/
		/*****CONTACT*****/
		/*****CONTACT*****/
		.contact{
			display: flex;
			flex-direction: column;
			font-family: 'slabo';
			font-size: 3rem;
			margin: 80px auto 0 auto;
			width: 75%;
		}

		.contactinfo, .contactform{
			width: 100%;
		}

		.contactinfo{
			margin: 50px 0 80px 0;
		}

		.contactform{
			margin-bottom: 150px;
		}

		.contactinfocontainer{
			width: 100%;
		}

		.contactinfocontainer h1{
			margin: 0;
		}

		.contactinfocontainer{
			line-height: 1.5;
		}

		.contactnames{
			display: flex;
			flex-direction: column;
		}

		.contactnamesbox{
			width : 100%;
		}

		#inputbox{
			margin-bottom: 50px;
		}

		.contactformcontainer form input, .contactformcontainer textarea{
			background-color: rgba(128, 128, 128, 0.1);
			font-family: 'slabo';
			font-size: 3rem;
			margin-top: 5px;
			padding: 10px 0 10px 20px;
			width: 100%;
		}

		#contactsubmit{
			background-color: #fff;
			border: 2px solid rgba(128, 128, 128, 0.7);
			margin-right: 10px;
			padding: 10px 0;
			width: 250px;
		}

		#contactsubmit:hover{
			background-color: #fff;
			border: 2px solid rgba(128, 128, 128, 0.7);
			color: #000;
			cursor: pointer;
		}
	/*TO TOP BUTTON*/
	#topBtn{
		height: 100px;
		width: 100px;
	}

	#topBtn i{
		font-size: 50px;
		padding-top: 25px;
	}

	/*FOOTER*/

	.footer{
		border-top: 5px solid black;
	}
	.footercontainer{
		margin: 0 auto;
		width: 90%;
	}

	.footerlinks{
		width: 100%;
	}
	.footerlinks ul{
		align-items: flex-start;
		flex-direction: column;
		margin: 0;
	}

	.footerlinks li{
		margin: 20px 0;
		padding-top: 10px;
	}
	.footer a{
		font-size: 3.5rem;
	}
}